body{
  background-image: url("./assets/fondo-tic-tac-toe.png");
  /*background-color: #fff5e6;*/
  background-attachment: fixed;
}

#root{
  height: 100%;
}

.LoginContent,
.LoginContent > div {
  height: 100%;
}